#search {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#searchInput {
  width: 800px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 65px;
  background: #f4f4f4;
  border: none;
  display: flex;
  margin: 3% 0 2% 0;
  font-size: 20px;
  padding-left: 1.5%;
}

#SearchTap {
  position: absolute;
  width: 2%;
  top: 13%;
  right: 24.5%;
}

#searchResult {
  flex-direction: column;
}
#searchResultBox {
  width: 1000px;
  height: 150px;
  flex-shrink: 0;
  margin-top: 1%;
  display: flex;
  align-items: center;
  border-radius: 30px;
  background: #fefefe;
  box-shadow: 0px 2px 8px 0px rgba(152, 152, 152, 0.25);
}

#noSearch {
  display: flex;
  width: 532px;
  height: 45px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #9a9a9a;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
}

#profile {
  display: flex;
  width: 12%;
  height: 80%;
  margin: 0 0 0 2%;
  border-radius: 100%;
  flex-shrink: 0;
}
#infoBox {
  display: flex;
  padding-left: 2%;
  flex-shrink: 0;
  justify-content: space-between;
  width: 78%;
  margin: 0;
}
#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: 0;
}
#personal {
  display: flex;
  flex-shrink: 0;
  width: 200%;
}
#name {
  display: flex;
  font-size: 22px;
  font-weight: 400;
  margin: 0 5% 0 0;
  font-family: Noto Sans;
  flex-shrink: 0;
}

#id {
  display: flex;
  color: #5b5b5b;
  font-size: 18px;
  margin: 1% 0 0 0;
  font-family: Noto Sans;
  flex-shrink: 0;
  letter-spacing: 1px;
}
#bioBox {
  display: flex;
  flex-direction: row;
  width: 200%;
  margin: 1% 0 0 0;
}
#bio {
  display: flex;
  color: #5b5b5b;
  margin: 0 5% 0 0;
  font-family: Noto Sans;
}

#null-bio {
  display: flex;
  margin: 0 0 0 50%;
  font-family: Noto Sans;
  flex-shrink: 0;
  letter-spacing: 1px;
}
#repo {
  display: flex;
  color: #5b5b5b;
  margin: 0 0 0 0;
  font-family: Noto Sans;
  flex-shrink: 0;
  letter-spacing: 1px;
}

#follower {
  display: flex;
  color: #5b5b5b;
  margin: 0 4% 0 0;
  font-family: Noto Sans;
  letter-spacing: 1px;
}

#followings {
  display: flex;
  color: #5b5b5b;
  margin: 0;
  font-family: Noto Sans;
  letter-spacing: 1px;
}
#detailBox {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
#follow {
  display: flex;
  color: #5b5b5b;
  margin: 0 0 2% 0;
  width: 200%;
  font-family: Noto Sans;
}
#detail {
  display: flex;
  width: 100%;
  margin: 0;
  width: 200%;
}
#location {
  display: flex;
  color: #5b5b5b;
  margin: 0;
  font-family: Noto Sans;
  letter-spacing: 1px;
}
#company {
  display: flex;
  color: #5b5b5b;
  margin: 0 2% 0 0;
  font-family: Noto Sans;
  letter-spacing: 1px;
}
#error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
#companyImg {
  display: flex;
  margin-right: 2%;
}
#locationImg {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}
