#searchInput {
  width: 900px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 62px;
  background: #f4f4f4;
  border: none;
  display: flex;
  margin: 5% auto 0 auto;
  font-size: 20px;
  padding-left: 25px;
}

#SearchTap {
  position: absolute;
  top: 21.5%;
  right: 21.5%;
}
