#search {
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchInput {
  width: 800px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 62px;
  background: #f4f4f4;
  border: none;
  display: flex;
  margin: 3% 0 3% 0;
  font-size: 20px;
  padding-left: 1.5%;
}

#SearchTap {
  position: absolute;
  width: 1.8%;
  top: 16%;
  right: 24.5%;
}

#searchResult {
  width: 1000px;
  height: 150px;
  flex-shrink: 0;
  display: flex;
  border-radius: 30px;
  background: #fefefe;
  box-shadow: 0px 2px 8px 0px rgba(152, 152, 152, 0.25);
}

#noSearch {
  display: flex;
  width: 532px;
  height: 45px;
  margin: 15% 0 0 40%;
  flex-shrink: 0;
  color: #9a9a9a;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#profile {
  display: flex;
  width: 12%;
  height: 80%;
  border-radius: 100%;
  margin-right: auto;
}

#info {
  display: flex;
  flex-direction: column;
}
#personal {
  display: flex;
}
#name {
  display: flex;
  font-size: 20px;
  width: 100%;
}

#id {
  display: flex;
  margin: 13% 0 0 2%;
}

#bio {
  display: flex;
  width: 100%;
  margin-top: 0;
}
